[Desktop Entry]
Name=Quick Web Apps
Name[cs]=Rychlé webové aplikace
Name[uk]=Швидкі застосунки
Exec=dev.heppen.webapps
Type=Application
StartupNotify=true
Icon=dev.heppen.webapps
StartupWMClass=dev.heppen.webapps
Categories=X-COSMIC;Utility;
Keywords=App;Software;Manager;
Keywords[cs]=Aplikace;Software;Manažer;Web;
Keywords[uk]=Веб;Сайто;Застосунки;Програми;
