[Desktop Entry]
Name=Quick Web Apps
Exec=dev.heppen.webapps
Type=Application
StartupNotify=true
Icon=dev.heppen.webapps
StartupWMClass=dev.heppen.webapps
Categories=X-COSMIC;Utility;
Keywords=App;Software;Manager;
