[Desktop Entry]
Name=COSMIC Web Apps
Exec=cosmic-wam
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.elevenhsoft.WebApps
Categories=X-COSMIC;Utility;
Keywords=Internet;Tools;
MimeType=inode/directory;
