[Desktop Entry]
Name=COSMIC Web Apps
Exec=cosmic-wam
Terminal=false
Type=Application
StartupNotify=true
Icon=org.cosmic.Wam
Categories=X-COSMIC;Utility;Internet;
Keywords=Internet;Tools;
MimeType=inode/directory;
